$font-stack: "Comic sans MS", sans-serif;
$color : #f5f5f5;

#app {
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: $color;
}